on init
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on post-fs
    start boot-hal-1-1

on boot
    start health-hal-2-1

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on property:ro.crypto.state=encrypted && property:hwservicemanager.ready=true
    start qseecomd

on property:vendor.sys.listeners.registered=true
    start gatekeeper-1-0-qti
    start keymaster-4-1-qti

on property:twrp.all.users.decrypted=true
    stop qseecomd
    stop gatekeeper-1-0-qti
    stop keymaster-4-1-qti

service qseecomd /vendor/bin/qseecomd
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0-qti /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1-qti /vendor/bin/hw/android.hardware.keymaster@4.1-service-qti
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0
